<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="let_me_test.komoot_landing_page"/>
      <class name="let_me_test.Login_test_cases"/>
      <class name="let_me_test.Page_links_header"/>
      <class name="let_me_test.Page_link_bottom"/>
      <class name="let_me_test.Signup"/>
      <class name="let_me_test.Unsuccessfull_login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
